.cart{
    background-color: lightgray;
    font-family: 'Merriweather', serif;
color: black;
text-align: center;
padding-top: 100px;
padding-bottom: 100px;
}
.s-cart{
    padding-top: 30px;
    padding-bottom: 30px;

}